@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-color: rgba(241, 183, 183, 0.29);
}


/* Navigation */

header nav {
    padding: 0 30px;
}

nav.custom-bg {
    background-color: rgba(255, 255, 255, 0.28);
    backdrop-filter: blur(12px);
}

header .sidenav {
    background: rgba(243, 222, 222, 0.3);
    backdrop-filter: blur(35px);
}

header .brand-logo,
.sidenav-logo,
.hamburger {
    color: #6A7359;
}

header ul .menu-link {
    color: #6A7359;
    font-weight: 600;
    font-size: 1.1em;
}

header .brand-logo,
.sidenav-logo {
    font-size: 2em;
    font-weight: 800;
}

/* Custom text-shadow */

.text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Home */

.hero {
    width: 100%;
    height: 500px;
    background: url(../images/hero-img.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero .hero-heading {
    position: relative;
    color: #6A7359;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2px;
    z-index: 7;
}

.hero .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0;
    z-index: 0;
}

/* Register */

.content-container {
    min-height: 70vh;
    padding-top: 35px;
}

/* Full page background */

.register-bg {
    background: url(../images/register-bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container .flash-message {
    font-size: 1.4em;
    color: #515251;
    background-color: #f48b89;
    padding: 15px 0;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 24px;
}

.container .page-heading {
    padding: 15px 0;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(25px);
    border-radius: 24px;
    font-size: 2em;
    font-weight: 900;
    color: #6A7359;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
}

.container .form-container {
    width: 100%;
    min-height: inherit;
    position: relative;
    overflow: hidden;
}

.form-container .form-row {
    width: 100%;
}

.form-container .card-panel {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(50px);
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.form-container .form-icon {
    color: #6A7359;
}

.form-container .btn-register {
    padding: 12px 30px;
    border-radius: 20px;
    outline: 0;
    border: none;
    font-size: 1.1em;
    font-weight: 500;
    color: #fff;
    background-color: #6A7359;
    transition: 0.2s linear;
}

.form-container .btn-register:hover {
    cursor: pointer;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
    background-color: #515251;
}

/* Custom disabled button */
.btn-disabled {
    opacity: 0.5;
    pointer-events: none;
}

.form-container p {
    color: #6A7359;
    font-weight: 400;
    font-size: 1.1em;
}

/* Login */

.form-container .form-heading {
    color: #6A7359;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.4em;
    line-height: 35px;
}

.form-container .card-panel-login {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(14px);

}

.circle-top,
.circle-bottom {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: -1;
}

.circle-top {
    top: -90px;
    left: -80px;
    background: linear-gradient(320deg, #eab0b1, #ffdfdf33, #ffffffb0);
}

.circle-bottom {
    bottom: -90px;
    right: -65px;
    background: linear-gradient(100deg, #eab0b1, #ffdfdf33, #ffffffb0);
}

/* Profile */

.my-recipes-heading {
    color: #515251;
}


.btn-add-recipe {
    padding: 10px 20px;
    background-color: #fff;
    color: #6A7359;
    border-radius: 12px;
    font-size: 1.1em;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    transition: 0.4s ease;
}

.btn-add-recipe:hover {
    color: #fff;
    background-color: #6A7359;
}

.my-recipes,
.recipes {
    width: 100%;
    min-height: 56vh;
    padding: 50px 0;
}

.recipe-card {
    /* background-color: #f9eded; */
    background-color: #f5e9e9;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.content .recipe-heading {
    font-size: 1.4em;
    font-weight: 900;
    color: #6A7359;
}

.content .category-name {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 35px;
    color: #6A7359;
}

/* override materialize */

.card .card-image .card-title {
    color: #515251;
    background-color: #f5e9e9;
    font-weight: 500;
    padding: 0 10px;
    font-size: 1.3em;
    border-top-right-radius: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);

}

.card.small .card-image, .card.medium .card-image, .card.large .card-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-action:last-child {
    border-radius: 10px;
    padding: 25px 22px;
}

.card .card-action {
    border: none;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #fff;
    text-transform: none;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: #515251;
    background-color: #fff;
    font-weight: 500;
    border-left-style: solid;
    border-left-width: 10px;
}


.recipe-card .full-recipe-btn {
    padding: 10px 20px;
    background-color: #515251;
    color: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    margin-left: 23px;
}

/* Add Recipe */

/* change color of materialize select option */

.dropdown-content li>a, .dropdown-content li>span {
    color: #6A7359;
}

/* change color of materialize select label  */
.input-field>label {
    color: #515251;
}

/* Add ingredient button and add step btn */
.add-ingredient-btn, 
.add-step-btn {
    padding: 10px 15px;
    border-radius: 12px;
    color: #fff;
    background-color: #515251;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}

.add-ingredient-btn:hover, 
.add-step-btn:hover {
    background-color: #6A7359;
}

.btn-row {
    padding-top: 50px;
}

.btn-row .add-recipe-btn {
    padding: 15px 20px;
    color: #fff;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #515251;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-row .cancel-btn {
    padding: 15px 20px;
    border-radius: 8px;
    background-color: #6A7359;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.remove-field,
.remove-step {
    float: right;
    padding: 8px 15px;
    background-color: #e06666;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}

.remove-field:hover,
.remove-step:hover,
.btn-delete:hover {
    background-color: #da3d3d;
}

/* Full Recipe */

.intro,
.recipe-info {
    padding: 30px 15px 10px 15px;
    margin: 50px 0;
    background-color: #f7e3e3;
    border-radius: 10px;
    min-height: 30vh;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}

.card-panel-full-recipe {
    border-radius: 10px;
    background-color: #f5e9e9;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    min-height: 290px;
}

.intro .img-box-recipe {
    width: 100%;
    height: 290px;
    margin-top: 4px;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.intro .img-box-recipe img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.total-time,
.serves,
.recipe-url {
    color: #6A7359;
    font-weight: 500;
}

.back-btn-row {
    margin-top: 40px;
}

.btn-edit,
.btn-delete,
.btn-back {
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}

.btn-edit {
    background-color: #515251;
}

.btn-edit:hover,
.btn-back:hover {
    background-color: #111;
}

.btn-delete {
    background-color: #e06666;
}

.btn-back {
    padding: 10px 30px;
    background-color: #515251;
}

.btn-row-recipe {
    margin-top: 30px;
    margin-bottom: 40px;
}

/* Recipe Info Section In Full Recipe Page */

.recipe-info .panel-ingredients {
    width: 100%;
    min-height: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #f5e9e9;
    border-radius: 12px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    overflow: auto;
}

.recipe-info .ing-heading,
.method-heading {
    font-size: 1.9em;
    font-weight: 800;
    color: #6A7359;
    padding: 10px 0;
}

.recipe-info .method-heading {
    padding-top: 35px;
}

.recipe-info .ingredients-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 300px;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 20px;
  }

.recipe-info .heading-panel,
.step-panel {
    list-style: none;
    margin: 15px 0;
    border-radius: 10px;
    background-color: #f5e9e9;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.recipe-info .heading-panel {
    padding-bottom: 5px;
    transform: translateY(-15px);
}

.recipe-info .step-panel {
    padding: 10px 20px;
}

.recipe-info .step-panel span {
    font-size: 1.2em;
    font-weight: 800;
    color: #6A7359;

}


/* Delete recipe modal */

.modal-del-recipe {
    background-color: #f5e9e9;
    border-radius: 10px;
}

/* Change height of modal */
.modal {
    max-height: 80%;
}

.modal-del-recipe .modal-heading {
    font-size: 2.1em;
    color: #6A7359;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-del-recipe .modal-text {
    font-size: 1.1em;
    color: #515251;
    line-height: 35px;
}

.modal-del-recipe .modal-text span {
    color: #6A7359;
    font-size: 1.2em;
    font-weight: 600;
}

.modal-del-recipe .modal-footer {
    background-color: #f7e3e3;
}

/* Modal Cancel and Delete buttons */

.modal-del-recipe .btn-cancel,
.delete-btn {
    font-weight: 700;
    font-size: 1.1em;
}

.modal-del-recipe .btn-cancel {
    color: #515251;
}

.modal-del-recipe .delete-btn {
    color: #da3d3d;
}

/* Search */

.search {
    margin-top: 100px;
}

.search .search-panel {
    background-color: #f7e3e3;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.search .btn-reset,
.btn-search {
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.search .btn-reset {
    background-color: #ec7f7d;
}

.search .btn-search {
    background-color: #fff;
    color: #6A7359;
}

.no-results-row {
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.no-results-heading {
    color: #6A7359;
    font-weight: 900;
}

/* Footer */

.page-footer {
    background: linear-gradient(69deg, rgb(239, 191, 191), rgba(176, 188, 194, 0.61));
    padding: 20px 0;
}

.page-footer .social-heading {
    margin-bottom: 20px;
}

.page-footer .btn-newsletter {
    border-radius: 12px;
    margin-top: 5px;
}

.page-footer .social-box {
    padding-top: 5px;
}

.page-footer .social-links {
    padding: 10px;
}

.social-links i {
    color: #6A7359;
    font-size: 1.7em;
    transition: 0.2s ease;
}

.social-links:hover i {
    transform: scale(1.2);
    color: #515251;
}

.page-footer .img-box {
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

/* Remove width and height from sidenav-overlay */
/* From https://stackoverflow.com/questions/38642911/how-to-disable-sidenav-overlay-in-materializecss */

.sidenav-overlay {
    width: 0;
    height: 0;
}

/* Media Queries */

/* From https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    header nav {
        padding: 0;
    }

    .form-container {
        padding: 35px 0;
    }

    .card-panel-full-recipe {
        padding: 24px 10px;
    }

    .btn-edit,
    .btn-delete {
        padding: 10px;
    }

    .modal {
        width: 85%;
    }

    .hero .hero-heading {
        font-size: 2.2em;
        padding-left: 15px;
    }

    .hero .overlay {
        opacity: 1;
    }

    .hero .hero-text-bg  {
        background-color: rgb(212 208 208 / 70%);
        padding: 0px 25px;

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .btn-edit,
    .btn-delete {
        padding: 10px;
    }

    .container .form-container.add-recipe-container,
    .container .form-container.edit-recipe-container {
        padding: 40px 0;
        overflow: visible;
    }

    .card.medium {
        height: 450px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .content-container {
        min-height: 65vh;
    }

    .no-results-row {
        min-height: 400px;
    }

    .card.medium {
        height: 475px;
    }

    .hero .overlay {
        opacity: 0;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .content-container {
        min-height: 70vh;
    }

    .card.medium {
        height: 510px;
    }

    .no-results-row {
        min-height: 300px;
    }

    .hero {
        max-width: 70%;
        margin: 0 auto;
    }
}