@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-color: rgba(241, 183, 183, 0.29);
}


/* Navigation */

header nav {
    padding: 0 30px;
}

nav.custom-bg {
    background-color: rgba(255, 255, 255, 0.28);
    backdrop-filter: blur(12px);
}

header .brand-logo, .sidenav-logo, .hamburger {
    color: #6A7359;
}

header ul .menu-link {
    color: #6A7359;
    font-weight: 600;
    font-size: 1.1em;
}

header .brand-logo, .sidenav-logo {
    font-size: 2em;
    font-weight: 800;
}

/* Custom text-shadow */

.text-shadow {
    text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}


/* Footer */

.page-footer {
    background: linear-gradient(69deg, rgb(239, 191, 191), rgba(176, 188, 194, 0.61));
    padding: 20px 0;
}

.page-footer .social-heading {
    margin-bottom: 20px;
}

.page-footer .btn-newsletter {
    border-radius: 12px;
    margin-top: 5px;
}

.page-footer .social-links {
    padding: 10px;
}

.social-links i {
    color: #6A7359;
    font-size: 1.7em;
}

.page-footer .img-box {
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

