{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col s12">
        <h3 class="center-align page-heading">Add Recipe</h3>
    </div>
</div>

<section class="form-container valign-wrapper">
    <div class="row form-row">
        <form action="{{ url_for('add_recipe') }}" method="POST" class="col s12 m10 offset-m1 l8 offset-l2">
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s12">
                        <select>
                            <option value="" disabled selected>Choose Category</option>
                            {% for category in categories %}
                                <option value="{{ category.name }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                        <label>Recipe Category</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}