{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col s12">
        <h3 class="center-align page-heading">Add Recipe</h3>
    </div>
</div>
<!-- Inspired from https://github.com/rebeccatraceyt/bake-it-til-you-make-it/blob/master/templates/recipe/edit_recipe.html -->
<section class="form-container add-recipe-container valign-wrapper">
    <div class="row form-row">
        <form action="{{ url_for('add_recipe') }}" method="POST" class="col s12 m10 offset-m1 l10 offset-l1">
            <div class="card-panel">
                <!-- Select category -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-folder-open prefix form-icon"></i>
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled selected>Choose Category</option>
                            {% for category in categories %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="category_name">Recipe Category</label>
                    </div>
                </div>
                <!-- Recipe name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix form-icon"></i>
                        <input type="text" id="recipe_name" name="recipe_name" minlength="3" maxlength="25"
                            class="validate" required>
                        <label for="recipe_name">Recipe Name</label>
                    </div>
                </div>
                <!-- Original Recipe URL -->
                <div class="row">
                    <div class="input-field col s12">
                        <!-- Pattern from https://github.com/rebeccatraceyt/bake-it-til-you-make-it/blob/master/templates/recipe/create_recipe.html -->
                        <i class="fas fa-book-open prefix form-icon"></i>
                        <input type="url" id="recipe_url" name="recipe_url" class="validate" pattern="https?://.+">
                        <label for="recipe_ur">Original Recipe URL</label>
                    </div>
                </div>
                <!-- Recipe Image URl -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-image prefix form-icon"></i>
                        <input type="url" id="image_url" name="image_url" class="validate" pattern="https?://.+"
                            required>
                        <label for="image_url">Recipe Image URL</label>
                    </div>
                </div>
                <!-- Total time & Number of serves -->
                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="fas fa-clock prefix form-icon"></i>
                        <select id="prep_time" name="prep_time" class="validate" required>
                            <option value="" disabled selected>Select</option>
                            <option value="Less than 20 min">Less than 20 min</option>
                            {% for time in range(20, 100, 10) %}
                                <option value="{{time}}">{{time}} min</option>
                            {% endfor %}
                            <option value="90+ min">90+ min</option>
                        </select>
                        <label for="prep_time">Total time</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="fas fa-users prefix form-icon"></i>
                        <select id="serves" name="serves" class="validate" required>
                            <option value="" disabled selected>Select</option>
                            <option value="1 person">1 person</option>
                            {% for num in range(2, 11, 1) %}
                                <option value="{{num}} people">{{num}} people</option>
                            {% endfor %}
                            <option value="10+ people">10+ people</option>
                        </select>
                        <label for="serves">Number of serves</label>
                    </div>
                </div>
                <!-- Ingredients -->
                <div id="ingredient-row" class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-list-ul prefix form-icon"></i>
                        <input type="text" id="ingredients" name="ingredients" minlength="3" class="validate" required>
                        <label for="ingredients">Ingredients</label>
                    </div>
                </div>
                <!-- Add new ingredient -->
                <div class="row">
                    <div class="col s12 right-align">
                        <a id="add-ingredient" class="add-ingredient-btn text-shadow" href="#">Add Ingredient <i
                                class="fas fa-plus-square"></i></a>
                    </div>
                </div>
                <!-- Method -->
                <div id="method-row" class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-list-ol prefix form-icon"></i>
                        <textarea id="method" name="method" class="materialize-textarea validate" minlength="3"
                            maxlength="300" rows="2" required></textarea>
                        <label for="method">Method</label>
                    </div>
                </div>
                <!-- Add step button -->
                <div class="row">
                    <div class="col s12 right-align">
                        <a id="add-step" class="add-step-btn text-shadow" href="#">Add Step <i
                                class="fas fa-plus-square"></i></a>
                    </div>
                </div>
                <div class="row btn-row valign-wrapper">
                    <div class="col s12 center-align">
                        <a href="{{ url_for('profile', username=session['user']) }}"
                            class="cancel-btn text-shadow">Cancel</a>
                    </div>
                    <div class="col s12 center-align">
                        <button type="submit" class="add-recipe-btn text-shadow">Add Recipe</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}

{% block scripts %}


<script src="{{ url_for('static', filename='js/recipe.js') }}"></script>

{% endblock %}