<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}"
        title="My Recipe Book">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>My Rcipe Book</title>
</head>
<body>

    <!-- Navigation -->

    <header class="navbar-fixed">
        <!-- top navbar -->
        <nav class="nav-extended custom-bg">
            <div class="nav-wrapper">
                <a href="{{ url_for('home') }}" class="brand-logo text-shadow">MyRecipeBook</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i
                        class="fas fa-bars hamburger"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="{% block nav_home %}{% endblock %}"><a class="menu-link"
                            href="{{ url_for('home') }}">Home</a></li>
                    <li><a class="menu-link" href="#">Profile</a></li>
                    <li><a class="menu-link" href="#">Recipes</a></li>
                    <li class="{% block nav_register %}{% endblock %}"><a class="menu-link"
                            href="{{ url_for('register') }}">Register</a></li>
                    <li><a class="menu-link" href="#">Login</a></li>
                    <li><a class="menu-link" href="#">Logout</a></li>
                    <li><a class="menu-link" href="#">Manage Categories</a></li>
                </ul>
            </div>
        </nav>

        <!-- mobile sidenav -->
        <ul class="sidenav" id="mobile-demo">
            <li>
                <h4 class="center-align sidenav-logo text-shadow">MyRecipeBook</h4>
            </li>
            <li><a class="menu-link" href="{{ url_for('home') }}">Home</a></li>
            <li><a class="menu-link" href="#">Profile</a></li>
            <li><a class="menu-link" href="#">Recipes</a></li>
            <li class="{% block sidenav_register %}{% endblock %}"><a class="menu-link"
                    href="{{ url_for('register') }}">Register</a></li>
            <li><a class="menu-link" href="#">Login</a></li>
            <li><a class="menu-link" href="#">Logout</a></li>
            <li><a class="menu-link" href="#">Manage Categories</a></li>
        </ul>
    </header>

    
    <main class="container content-container {% block page_background %}{% endblock %}">

        <section>
            <!-- flash messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="row">
                            <h4 class="flash-message center-align">{{ message }}</h4>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </section>
    

        {% block content %}
            {% block flash %}
            {% endblock %}
        {% endblock %}

    </main>

    <!-- Footer -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h5 class="white-text text-shadow">Subscribe for our newsletter</h5>
                <form action="">
                    <div class="input-field">
                        <!-- Pattern from  https://github.com/juanstelling/MS3_breaktasty/blob/master/templates/base.html -->
                        <input type="email" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                            class="validate" required>
                        <label for="email">Email Address</label>
                    </div>
                    <button type="submit" class="btn-small btn-newsletter text-shadow">Subscribe</button>
                </form>
            </div>
            <div class="col l4 offset-l2 s12 m6 center-align ">
                <h5 class="social-heading text-shadow">Social Links</h5>
                <div class="social-box">
                    <a class="social-links" href="https://www.facebook.com/" target="_blank"><i
                            class="fab fa-facebook"></i></a>
                    <a class="social-links" href="https://www.instagram.com/" target="_blank"><i
                            class="fab fa-instagram"></i></a>
                    <a class="social-links" href="https://twitter.com/?lang=en-gb" target="_blank"><i
                            class="fab fa-twitter"></i></a>
                </div>
                <div class="img-box">
                    <img class="responsive-img" src="{{ url_for('static', filename='images/mint.png') }}"
                        alt="Mint Leaf">
                </div>
            </div>
        </div>
    </div>
</footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>