{% extends "base.html" %}
{% block page_background %}{% endblock %}
{% block content %}

<div class="row">
    <div class="col s12">
        <h3 class="center-align page-heading">
            {{ recipe.recipe_name }}
        </h3>
    </div>
</div>


<!-- Full Recipe Intro -->
<section class="intro valign-wrapper">
    <div class="row">
        <div class="col s12 m6 xl5">
            <div class="card-panel center-align card-panel-full-recipe">
                <div class="row">
                    <div class="col s12">
                        <p class="total-time">Total Time: <span>{{ recipe.prep_time }}</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p class="serves">Serves: <span>{{ recipe.serves }}</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        {% if recipe.recipe_url %}
                            <p class="recipe-url">
                                Original Recipe <a href="{{ recipe.recipe_url }}" target="_blank">Here</a>
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="row btn-row-recipe">
                    <div class="col s12">
                        <div class="col s6 m6">
                            <a class="btn-edit" href="">Edit <i class="fas fa-edit"></i></a>
                        </div>
                        <div class="col s6 m6">
                            <a class="btn-delete" href="">Delete <i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <a class="btn-back" href="#"><i class="fas fa-arrow-left"></i> Back</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 xl7">
            <div class="img-box-recipe">
                <img src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }}">
            </div>
        </div>
    </div>
</section>

<!-- Method and Ingredients -->
<!-- Inspired from https://github.com/rebeccatraceyt/bake-it-til-you-make-it/blob/master/templates/recipe/recipe.html -->
<section class="recipe-info valign-wrapper">
    <div class="row">
        <div class="col s12 m6 xl5">
            <div class="panel-ingredients">
                <div class="col s12">
                    <h3 class="ing-heading">Ingredients</h3>
                </div>
                <div class="col s12 ingredients-list">
                    {% for ingredient in recipe.ingredients %}
                        <p class="ingredient">{{ ingredient }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col s12 m6 xl7">
            <ol>
                <li>
                    <h3 class="center-align method-heading">Method</h3>
                </li>
                {% for step in recipe.method %}
                <li>
                    <span>Step {{ loop.index }}: </span><br>{{ step }}
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</section>



{% endblock %}