{% extends "base.html" %}
{% block nav_profile %}active{% endblock %}
{% block sidenav_profile %}active{% endblock %}
{% block page_background %}{% endblock %}
{% block content %}

<div class="row">
    <div class="col s12">
        <h3 class="center-align page-heading">
            {{ username }}'s Profile
        </h3>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <h5 class="center-align my-recipes-heading">
            My recipes
        </h5>
    </div>
</div>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_recipe') }}" class="btn-add-recipe text-shadow">Add Recipe <i class="fas fa-plus-square"></i></a>
    </div>
</div>

<section class="my-recipes">
    <div class="row">
        {% for recipe in recipes %}
                <div class="col s12 m6 l6 xl4">
                    <div class="card medium recipe-card">
                        <div class="card-image">
                            <img src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }}">
                            <span class="card-title">{{ recipe.category }}</span>
                        </div>
                        <div class="card-content content center-align">
                            <h3 class="recipe-heading">{{ recipe.recipe_name }}</h3>
                            <span>By: {{ recipe.created_by }}</span>
                        </div>
                        <div class="card-action btn-box center-align">
                            <a class="full-recipe-btn text-shadow"
                                href="{{ url_for('full_recipe', recipe_id=recipe._id) }}">Full Recipe</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>

</section>



{% endblock %}