{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col s12">
        <h3 class="center-align page-heading">
            Page does not exist!
        </h3>
    </div>
</div>

<section class="error center-align valign-wrapper">

    <div class="row">
        <div class="col s12">
            <h3 class="error-heading">Oops!</h3>
            <p class="error-text">That page does not exist! <span>😮</span></p>
        </div>

        <div class="col s12">
            <p class="error-text">
                Click
                <a href="{{ url_for('home') }}">here</a>
                to redirect you to home page!
            </p>
        </div>
    </div>

</section>

{% endblock %}


